@model DrynksMe.Portal.Models.LocalPasswordModel

<h3>Change password</h3>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <section class="form-horizontal well">
        <fieldset>
            <legend>Change Password Form</legend>
            <div class="row">
                <div class="span10">
                    <div class="control-group">
                        @Html.LabelFor(m => m.OldPassword,new {@class="control-label"})
                        <div class="controls">
                            @Html.PasswordFor(m => m.OldPassword)
                        </div>
                    </div>

                    <div class="control-group">
                        @Html.LabelFor(m => m.NewPassword,new {@class="control-label"})
                        <div class="controls">
                   
                            @Html.PasswordFor(m => m.NewPassword)
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.ConfirmPassword,new {@class="control-label"})
                        <div class="controls">
                            @Html.PasswordFor(m => m.ConfirmPassword)
                        </div>
                    </div>
                    <div class="control-group">
                             <div class="controls">>
                                 <input class="btn btn-primary" type="submit" value="Change password" />
                             </div>
                         </div>
                </div>
            </div>
        </fieldset>
    </section>

}
