@model DrynksMe.Portal.Models.LocalPasswordModel

<p>
    You do not have a local password for this site. Add a local
    password so you can log in without an external login.
</p>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="form-horizontal well">
        <fieldset>
            <legend>Set Password Form</legend>
            <div class="row">
                <div class="span10">
                    @Html.LabelFor(m => m.NewPassword,new {@class="control-label"})
                    <div class="control-group">
                        <div class="controls">
                            @Html.PasswordFor(m => m.NewPassword)
                        </div>
                    </div>
                    @Html.LabelFor(m => m.ConfirmPassword,new {@class="control-label"})
                    <div class="control-group">
                        <div class="controls">
                            @Html.PasswordFor(m => m.ConfirmPassword)
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <input class="btn btn-primary" type="submit" value="Set password" />
                        </div>
                    </div>
               </div>
            </div>
        </fieldset>
    </div>
}
