@model DrynksMe.Portal.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<hgroup class="title">
    <h2>@ViewBag.Title.</h2>
</hgroup>

<section id="loginForm" class="form-horizontal well">
    <div class="row">
    <div class="span6">
        <h2>Use a local account to log in.</h2>
        @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="control-group">
                @Html.LabelFor(m => m.UserName,new {@class="control-label"})
                <div class="controls">
                    @Html.TextBoxFor(m => m.UserName)
                    @Html.ValidationMessageFor(m => m.UserName,"",new {@class="help-inline error"})
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(m => m.Password,new {@class="control-label"})
                <div class="controls">
                    @Html.PasswordFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password,"",new {@class="help-inline error"})
                </div>
            </div>
            <div class="control-group"> 
                @Html.LabelFor(m => m.RememberMe, new { @class = "control-label" })
                <div class="controls">
                    @Html.CheckBoxFor(m => m.RememberMe,new {@class="checkbox"})
                </div>   
            </div>
            <div class="control-group">
                <div class="controls">
                    <i class="icon-hand-right"></i>
                    <input type="submit" class="btn btn-primary"  value="Log in" />
                        
                    
                </div>
            </div>
            <div >
                @Html.ActionLink("Register", "Register") if you don't have an account.
            </div>
        
        }
    </div>
    <div class="span5">
        <h2>Use another service to log in.</h2>
        
        @Html.Action("ExternalLoginsList", new {ReturnUrl = ViewBag.ReturnUrl })
           
    </div>
    @*<div class="clearfix"></div>*@
    </div>
</section>

@*<section class="social" id="socialLoginForm">
    <h2>Use another service to log in.</h2>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
